<!DOCTYPE html>
<html>
<head>
    <title>Temperature Checker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Temperature</h1>
            <div class="link-group">
                <a href="specific">Specific City</a>
                <a href="all">All Cities</a>
            </div>
        </div>
    </header>
    <p>
        Welcome to the Temperature Checker application!
        <br><br>
        This is your go-to tool for checking the temperatures of cities across the country.
        <br><br>
        With a user-friendly interface, this application allows you to do two different things.
        You can either select a city from a list and instantly view its current temperature. 
        Or, you can view the temperatures of all available cities at once.
        So, go ahead! Explore!
        
    </p>
</body>
</html>